.form-box {
    /* From https://css.glass */
    /* background: rgba(7, 7, 7, 0.23); */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.1px);
    -webkit-backdrop-filter: blur(14.1px);
    border: 1px solid rgba(7, 7, 7, 0.3);
}